* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; /* Optional, but ensures complete hiding */
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Times New Roman", Times, serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  z-index: 99;

  h1 {
    -webkit-text-stroke: 1px orangered;
    color: #fff;
    font-size: 2.5rem;
  }

  nav {
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style-type: none;
      flex-flow: column;
      width: 100%;
      height: 0;
      overflow: hidden;
      background-color: #0009;
      color: #fff;

      li {
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
          background-color: orangered;
          color: white;
          font-weight: 900;
        }
      }
    }
  }

  .menu {
    position: relative;
    align-self: end;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: url(assets/burger-bar.png) no-repeat;
    background-size: cover;

    input {
      position: absolute;
      inset: 0;
      opacity: 0;
      cursor: pointer;
    }

    &:has(input:checked) {
      background: url(assets/close.png) no-repeat;
      background-size: cover;
      filter: invert(1) sepia(1) saturate(10000%) hue-rotate(280deg);
    }
  }

  &:has(input:checked) nav ul {
    height: auto;
  }
}

main {
  display: block;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  .main-image {
    position: relative;
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;

    img {
      position: absolute;
      top: 50%;
      left: 25%;
      width: 75%;
      transform: translateY(-50%) rotate(-90deg);
      z-index: 9;
      filter: drop-shadow(0 0 9px #0009);
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      background-color: #aeddff;
      background: url(assets/bg.jpg) no-repeat;
      background-size: cover;
    }

    &::after {
      bottom: 0;
      background-position: bottom;
      border-radius: 0 50vh 0 0;
    }

    &::before {
      top: 0;
      background-position: top;
      border-radius: 0 0 50vh 0;
    }
  }

  .main-content {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;

    h2 {
      text-align: center;
      letter-spacing: 1rem;
      span {
        font-size: 4rem;
      }
    }

    p {
      text-align: center;
      margin: 0 7.5rem;
      font-size: 1.5rem;
    }

    a {
      padding: 10px 25px;
      border-radius: 10px;
      background-color: orangered;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 5px;
      box-shadow: 0 5px 10px #0006;
      cursor: pointer;
      transition: 0.25s;

      &:hover {
        box-shadow: 0 2.5px 5px #0003;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    nav {
      display: block;
      position: relative;
      left: unset;
      top: unset;
      width: 40%;

      ul {
        flex-flow: row;
        height: auto;
        background-color: unset;
        color: #000;

        li {
          width: 20%;
          border-radius: 1rem;
        }
      }
    }

    .menu {
      display: none;
    }
  }

  main {
    position: relative;
    display: flex;
    width: 100%;

    .main-image {
      width: 60%;

      img {
        left: 30%;
      }
    }

    .main-content {
      width: 40%;
    }
  }
}
